.f5link {
    margin-top: 10px;
}
.f5link span {
    color: rgba(255,255,255,0.5);
}
.f5link a {
    color: rgba(255,255,255,0.9);
    font-size: 20px;
}
.f5_ul {
    padding-left: 0;
}
.f5_li {
    list-style: none;
    display: block;
    width: 20%;
    text-align: center;
    float: left;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.f5_li a {
    text-decoration: none;
}
.f5_li p {
    font-size: 30px;
    color: rgb(255,255,255);
}
.baocao .f5_ul {
    margin-top: 5%;
    width: 100%;
}
.baocaotonghop .f5_li {
    width: 50%;
    position: relative;
    padding-left: 100px;
    height: 70px;
    text-align: left;
    margin-bottom: 30px;
    margin-top: 30px;
}
.baocaotonghop .f5_li p {
    padding: 15px 0;
}
.baocaotonghop .f5_li img {
    position: absolute;
    left: 0;
        padding: 10px;
}
.bcdonvi .f5_li p {
    padding: 0;
} 
.f5_logo {
    position: relative;
    padding-left: 100px;
}
.f5_logo img {
    width: 85px;
    position: absolute;
    left: 0;
}
.text_logo {
    color: #fff;
    text-transform: uppercase;
        height: 80px;
        padding-top: 10px;
}
.text_logo h2 {
    font-size: 1.5rem;
    padding-top: 5px;
    margin-bottom: 0;
}
.text_logo h3 {
    padding-top: 0px;
    padding-bottom: 10px;
    font-size: 1.2rem;
}
.f5link.black {
    color: #333;
    margin-bottom: 20px;
}
.f5link.black a {
    color: #333;
}
.f5_headding {
    background: #0089cf;
    padding: 10px;
    color: #fff;
    text-transform: uppercase;
}
.f5_donvi {
    padding-left: 0;
}
.f5_donvi li {
    background: #b3d9e1;
    padding: 10px;
    list-style: none;
    margin-top: 5px;
    margin-bottom: 5px;
}
.trongdong {
    background: url('../img/bg/trongdong.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #e8e8e8;
    padding: 10px 0px;
    height: calc(100vh - 80px);
}
.table.bcdiaphuong {
    background: #fff;
}
.home_menu a {
    display: inline-block;
    color: #fff;
    margin-left: 5px;
    margin-right: 5px;
}
.home_menu a img {
    width: 50px;
}
.home_menu a p {
    font-size: 14px;
    margin-bottom: 0;
    margin-top: -12px;
}