﻿.ax_default {
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:center;
  line-height:normal;
  text-transform:none;
}
.box_1 {
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
.ellipse {
}
.shape {
}
.image {
}
.heading_1 {
  font-family:'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.heading_2 {
  font-family:'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.heading_3 {
  font-family:'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.heading_4 {
  font-family:'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.heading_5 {
  font-family:'Arial';
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
.heading_6 {
  font-family:'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.paragraph {
  text-align:left;
}
.text_link {
  color:#0000FF;
}
.text_link_mouse_over {
}
.text_link_mouse_down {
}
.line {
}
.droplist {
  color:#000000;
  text-align:left;
}
.checkbox {
  text-align:left;
}
.form_hint {
  color:#999999;
}
.form_disabled {
}
.flow_shape {
}
.connector {
}
.icon {
}
.calendar {
  font-family:'Arial';
  font-weight:normal;
  font-style:normal;
  font-size:14px;
  color:#2D373E;
  text-align:center;
}
.calender_mouseover {
}
.calendar_selected {
}
.input_field {
  font-family:'Arial';
  font-weight:normal;
  font-style:normal;
  font-size:14px;
  color:#2D373E;
  text-align:left;
}
.label {
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:24px;
}
.border_grey {
}
.button {
}
.solid_white {
}
.text_field {
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
}
.text_area {
  color:#000000;
  text-align:left;
}
.table_cell {
}
textarea, select, input, button { outline: none; }
